@font-face {
    font-family: 'Avenir';
    src: url("/src/assets/avenir_ff/AvenirLTStd-Black.otf")
  }
*{
    font-family: 'Avenir';
}
/* LOGIN & REGISTER */
.container .card {
    position: absolute;
    width: 416px;
    height: 443px;
    left: 851px;
    top: 100px;
    background: #181818;
    border-radius: 10px;
}
#card{
    position: absolute;
    width: 416px;
    height: 366px;
    left: 851px;
    top: 90px;
    background: #181818;
    border-radius: 10px;
}

.container .card p{
    position: absolute;
    width: 143px;
    height: 49px;
    left: 33px;
    top: 41px;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

#forName{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 119px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    border-radius: 5px;
}

#forMail{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 189px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    border-radius: 5px

}#forMail1{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 120px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    border-radius: 5px
}

#forPassword{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 259px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    border-radius: 5px;
}
#forPassword1{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 190px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    border-radius: 5px;
}

.card form button{
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 363px;
    background: #F74D4D;
    border-radius: 5px;
}

.container .left-side img{
    position: absolute;
    left: 7%;
    right: 0%;
    top: 10%;
    bottom: 1.27%;
    width: 264px;
    height: 254px;
}

.left-side .forText h5{
    position: absolute;
    height: 76px;
    left: 100px;
    top: 350px;
    font-size: 56px;
    font-style: normal;
    line-height: 76px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .left-side .forText p{
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 105px;
    top: 440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #6A6A6A;
}
.container .left-side button{
    position: absolute;
    width: 135px;
    height: 40px;
    left: 104px;
    top: 560px;
    background: #F74D4D;
    border-radius: 5px;
}
.container .left-side a {
    position: absolute;
    width: 71px;
    height: 25px;
    left: 291px;
    top: 567px;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #B7B7B7;
    text-decoration: none;
}

#login-btn{
    position: absolute;
    width: 350px;
    height: 50px;
    left: 33px;
    top: 287px;
    background: #F74D4D;
    border-radius: 5px;
}
/* END LOGIN & REGISTER */
/* NAVBAR HOME */
.navbar .container-fluid img{
    position: absolute;
    left: 1.5%;
    right: 0;
    top:69.49%;
    width: 70px;
    height: 67.2px;
}
.navbar .container-fluid ul{
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1023px;
    top: 37.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
}

.navbar .container-fluid ul .me-4:hover{
    color:#555
}
/* END NAVBAR */

/* DETAILPAGE START */
.container-fluid .row .col img{
    margin: 107px 0px 95px 125px;
    height: 555px;
    width: 436px;
}
.container-fluid .row .col-6{
    margin:92px 76px 75px 0px ;
}
.container-fluid .row .col-6 .content-bottom{
    text-align: justify;
    color:  #FFFFFF;
    font-size: 18px;
    line-height: 25px;;
    margin-top: 1.9rem;
}
.row .col-6 .content-bottom button{
    display: block;
    width: 617px;
    height: 40px;
    border-radius: 5px;
}
/* DETAILPAGE ENDS */

/* PROFILE */
.row .col img{
    height:435px ;
    width:338px ;
    position: absolute;
    left: 3.5rem;
}
.container .row .col {
    margin: 3.7rem 0rem;
}
.container .row .d-block{
    margin-right: 14rem;
}
#profile-left{
    margin-top: 8.2rem;
    margin-left: 0.8rem;
}
#cardProfil{
    position: absolute;
    width: 524px;
    height: 145px;
    left: 752px;
    top: 158px;
    background: #303030;
}
#mytrans{
    position: absolute;
    width: 172px;
    height: 33px;
    left: 751px;
    top: 100px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #F74D4D;
}
.card .card-body .col p{
    font-size: 20px;
    margin-left: 10rem;
}
#mouse-text{
    position: absolute;
    height: 19px;
    left: -40px;
    top: 0px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #F74D4D;
}
.card .card-body .col .fw-bold{
    position: absolute;
    width: 120px;
    height: 12px;
    left: -39px;
    top: 48px;
    font-size:12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #F74D4D;
}
#price{
    position: absolute;
    height: 14px;
    left: -10rem;
    top: 9px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}
#subtotal{
    position: absolute;
    width: 910px;
    height: 14px;
    left: -2.4rem;
    top: 7rem;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
}
/* END PROFILE */